body {
    background-color: #eee;
}
ul {
    display: flex;
    width: 50px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    padding: 0;
    transition: width 250ms;
    li {
        .inside-card {
            display: none;
        }

        border: 2px solid black;
        list-style-type: none;
        p {
            font-weight: lighter;
        }
    }
    &:hover {
        font-weight: bold;
        width: 400px;
        .inside-card {
            display: list-item;
        }
    }
}
